AI_PROVIDER=gemini
AI_API_KEY=AQ.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AI_MODEL=gemini-flash-latest
GITHUB_USER_API=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SITE_URL=http://127.0.0.1:8080