/diagram-demo
*.exe
*.test
*.out
*.tmp
.env

# Ignore diagram files
/public/diagram/*.svg
/public/diagram/*.png
/public/diagram/*.mmd
/public/diagram/*.mermaid
/public/diagram/*.bpmn
/public/diagram/*.dmn
/public/diagram/*.drawio
/public/diagram/*.json
/public/diagram/*/*.json
/public/diagram/*/*.mmd
/public/diagram/*/*.svg
